certifi==2025.11.12
charset-normalizer==3.4.4
configparser==7.2.0
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
Deprecated==1.3.1
fonttools==4.60.1
ftfy==6.3.1
greenlet==3.2.4
idna==3.11
kiwisolver==1.4.9
langcodes==3.5.0
language_data==1.3.0
locate==1.1.1
lxml==6.0.2
marisa-trie==1.3.1
markdown-it-py==4.0.0
matplotlib==3.10.7
mdurl==0.1.2
msgpack==1.1.2
msgpack-python==0.5.6
numpy==2.3.4
packaging==25.0
pikepdf==10.0.0
pillow==12.0.0
playwright==1.56.0
pycryptodome==3.23.0
pyee==13.0.0
Pygments==2.19.2
PyMuPDF==1.26.6
pyparsing==3.2.5
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
python-dateutil==2.9.0.post0
regex==2025.10.23
requests==2.32.5
rich==14.2.0
shiboken6==6.10.1
six==1.17.0
tinydb==4.8.2
ttkthemes==3.2.2
typing_extensions==4.15.0
u-msgpack-python==2.8.0
umsgpack==0.1.0
urllib3==2.5.0
wcwidth==0.2.14
wordfreq==3.1.1
wordsegment==1.3.1
wrapt==2.0.0
